# CityBikes

**Send a request to CityBikes for the city of your choice.**

In [1]:
import requests

Auckland, NZ only has one bike network; when a city has multiple networks, zooming in on it will result in a bubble for each network, and clicking on one will show the stations belonging to that network. For example, Tokyo has 2, and Kyoto has 3. (Most cities only have one.) The API is structured so that the first layer returns all of the networks alphabetically, and inside each network section is each of the stations and their info. This means that, because my city only has one network, I can query for that network and get all of the information for Auckland, meaning I don't need to do a search by GPS coordinates in this case.

'net_name' criteria:
<ul>
<li>based on bubble while zoomed out</li>
<li>all lowercase</li>
<li>connected by '-'</li>
<li>no other punctuation</li>

In [2]:
net_name = "belfastbikes-belfast"
url = "https://api.citybik.es/v2/networks/" + net_name

In [3]:
response = requests.get(url)

**Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).**

In [4]:
import pandas as pd
import numpy as np

In [5]:
response.json()

{'network': {'id': 'belfastbikes-belfast',
  'name': 'BelfastBikes',
  'location': {'latitude': 54.5969,
   'longitude': -5.92918,
   'city': 'Belfast',
   'country': 'GB'},
  'href': '/v2/networks/belfastbikes-belfast',
  'company': ['Nextbike GmbH'],
  'system': 'Nextbike',
  'stations': [{'id': '00a175b9694ce13c3b9bc9e1244e1612',
    'name': 'Carlisle Circus',
    'latitude': 54.607397,
    'longitude': -5.937086,
    'timestamp': '2024-10-24T00:31:22.985299Z',
    'free_bikes': 1,
    'empty_slots': 20,
    'extra': {'uid': '20754306',
     'number': '3939',
     'slots': 20,
     'bike_uids': ['830048']}},
   {'id': '036a91020ad7f40ea0d2bfda0fb14400',
    'name': 'City Hall',
    'latitude': 54.597177,
    'longitude': -5.930825,
    'timestamp': '2024-10-24T00:31:22.985383Z',
    'free_bikes': 0,
    'empty_slots': 20,
    'extra': {'uid': '20754767',
     'number': '3902',
     'slots': 20,
     'bike_uids': ['']}},
   {'id': '04764ca50c52190e0e6448114ad094d8',
    'name': 'Bradbury Place',
    'latitude': 54.588123,
    'longitude': -5.935525,
    'timestamp': '2024-10-24T00:31:22.985262Z',
    'free_bikes': 2,
    'empty_slots': 14,
    'extra': {'uid': '20754036',
     'number': '3924',
     'slots': 16,
     'bike_uids': ['830382', '830488']}},
   {'id': '0a705a961d040d272e9e72b27fd1239d',
    'name': 'Botanic Avenue',
    'latitude': 54.589329,
    'longitude': -5.933508,
    'timestamp': '2024-10-24T00:31:22.985244Z',
    'free_bikes': 5,
    'empty_slots': 8,
    'extra': {'uid': '20753840',
     'number': '3909',
     'slots': 16,
     'bike_uids': ['830182', '830146', '830002', '830698', '830639']}},
   {'id': '0bcde9e962503960bbf3c1940e63be23',
    'name': 'Europa Bus Station / Blackstaff Square',
    'latitude': 54.594821,
    'longitude': -5.933116,
    'timestamp': '2024-10-24T00:31:22.985446Z',
    'free_bikes': 5,
    'empty_slots': 6,
    'extra': {'uid': '20755396',
     'number': '3910',
     'slots': 12,
     'bike_uids': ['830389', '830073', '830690', '830634', '830625']}},
   {'id': '1d32f54e87d456e46654efe7f4d3bb79',
    'name': 'Gasworks (Cromac Street)',
    'latitude': 54.592172,
    'longitude': -5.925547,
    'timestamp': '2024-10-24T00:31:22.985497Z',
    'free_bikes': 8,
    'empty_slots': 6,
    'extra': {'uid': '20755616',
     'number': '3907',
     'slots': 12,
     'bike_uids': ['83475',
      '830316',
      '830277',
      '830267',
      '830685',
      '830655',
      '830644',
      '830532']}},
   {'id': '21736d82110ac1d36d2d08877b89d666',
    'name': 'Titanic Train Halt/ Sydenham Road',
    'latitude': 54.60342,
    'longitude': -5.906825,
    'timestamp': '2024-10-24T00:31:22.986085Z',
    'free_bikes': 11,
    'empty_slots': 10,
    'extra': {'uid': '80624568',
     'number': '3949',
     'slots': 20,
     'bike_uids': ['830424',
      '830411',
      '830379',
      '830280',
      '830276',
      '830244',
      '830141',
      '830031',
      '830013',
      '830005',
      '830695']}},
   {'id': '2dde63ecc4e7629be51b8869769355f8',
    'name': 'Castlereagh Road',
    'latitude': 54.586112,
    'longitude': -5.891912,
    'timestamp': '2024-10-24T00:31:22.986399Z',
    'free_bikes': 13,
    'empty_slots': 1,
    'extra': {'uid': '254962866',
     'number': '3901',
     'slots': 12,
     'bike_uids': ['830440',
      '830407',
      '830403',
      '830395',
      '830191',
      '830143',
      '830088',
      '830039',
      '830611',
      '830598',
      '830592',
      '830591',
      '830304']}},
   {'id': '37bdf55233e68976b8d6e48b05b4870f',
    'name': 'Ormeau Road / Rosetta Roundabout',
    'latitude': 54.572534,
    'longitude': -5.915076,
    'timestamp': '2024-10-24T00:31:22.985800Z',
    'free_bikes': 14,
    'empty_slots': 2,
    'extra': {'uid': '20756242',
     'number': '3930',
     'slots': 16,
     'bike_uids': ['83471',
      '830386',
      '830171',
      '830131',
      '830007',
      '830004',
      '830706',
      '830676',
      '830636',
      '830605',
      '830579',
      '830561',
      '830545',
      '830542']}},
   {'id': '38c115f757ddfb8932019674ceaae244',
    'name': 'Millfield / Divis Street',
    'latitude': 54.599697,
    'longitude': -5.936308,
    'timestamp': '2024-10-24T00:31:22.985723Z',
    'free_bikes': 6,
    'empty_slots': 9,
    'extra': {'uid': '20756044',
     'number': '3920',
     'slots': 18,
     'bike_uids': ['830320',
      '830080',
      '830074',
      '830052',
      '830699',
      '830570']}},
   {'id': '3d074080544e9de7221eefa71e2a9c19',
    'name': 'Carrick Hill / St Patricks Church',
    'latitude': 54.604986,
    'longitude': -5.932853,
    'timestamp': '2024-10-24T00:31:22.985316Z',
    'free_bikes': 0,
    'empty_slots': 8,
    'extra': {'uid': '20754490',
     'number': '3915',
     'slots': 12,
     'bike_uids': ['']}},
   {'id': '3d0848a1bd18d516fb554c2e18cf7da6',
    'name': 'Glencairn',
    'latitude': 54.609674,
    'longitude': -5.9727,
    'timestamp': '2024-10-24T00:31:22.986455Z',
    'free_bikes': 1,
    'empty_slots': 14,
    'extra': {'uid': '378088757',
     'number': '3987',
     'slots': 16,
     'bike_uids': ['830660']}},
   {'id': '4674212bef61b983ff79f80f324aec6b',
    'name': 'Royal Victoria Hospital',
    'latitude': 54.589851,
    'longitude': -5.958463,
    'timestamp': '2024-10-24T00:31:22.985870Z',
    'free_bikes': 7,
    'empty_slots': 13,
    'extra': {'uid': '20756409',
     'number': '3936',
     'slots': 20,
     'bike_uids': ['830342',
      '830258',
      '830206',
      '830692',
      '830668',
      '830581',
      '830538']}},
   {'id': '4a98fdf8656e54050b5e683400e8e7ec',
    'name': 'Belfast City Hospital',
    'latitude': 54.586848,
    'longitude': -5.939333,
    'timestamp': '2024-10-24T00:31:22.986069Z',
    'free_bikes': 2,
    'empty_slots': 15,
    'extra': {'uid': '26211679',
     'number': '3935',
     'slots': 18,
     'bike_uids': ['830315', '830573']}},
   {'id': '4b098d3bd92dd05711e2db6268205227',
    'name': 'Titanic Walkway',
    'latitude': 54.611906,
    'longitude': -5.902814,
    'timestamp': '2024-10-24T00:31:22.985976Z',
    'free_bikes': 22,
    'empty_slots': 0,
    'extra': {'uid': '20756646',
     'number': '3917',
     'slots': 20,
     'bike_uids': ['830443',
      '830427',
      '830421',
      '830367',
      '830308',
      '830279',
      '830256',
      '830238',
      '830168',
      '830065',
      '830064',
      '830055',
      '830512',
      '830508',
      '830486',
      '830468',
      '830709',
      '830697',
      '830637',
      '830604',
      '830588',
      '830553']}},
   {'id': '4f1193645719ac9f73ec068cb9c520ca',
    'name': 'Castle Place / Royal avenue',
    'latitude': 54.599358,
    'longitude': -5.929838,
    'timestamp': '2024-10-24T00:31:22.985332Z',
    'free_bikes': 0,
    'empty_slots': 15,
    'extra': {'uid': '20754573',
     'number': '3912',
     'slots': 22,
     'bike_uids': ['']}},
   {'id': '514648b87e234d34917abc7b0cb9755b',
    'name': 'Titanic Belfast Met',
    'latitude': 54.605713,
    'longitude': -5.911299,
    'timestamp': '2024-10-24T00:31:22.985957Z',
    'free_bikes': 20,
    'empty_slots': 0,
    'extra': {'uid': '20756620',
     'number': '3932',
     'slots': 18,
     'bike_uids': ['830444',
      '830435',
      '830413',
      '830383',
      '830369',
      '830359',
      '830344',
      '830327',
      '830319',
      '830306',
      '830264',
      '830156',
      '830110',
      '830102',
      '830089',
      '830684',
      '830683',
      '830631',
      '830628',
      '830563']}},
   {'id': '59a10c87436a4f66ea29cce49c054f1c',
    'name': 'Ormeau Road / Somerset Street',
    'latitude': 54.578142,
    'longitude': -5.918787,
    'timestamp': '2024-10-24T00:31:22.986037Z',
    'free_bikes': 11,
    'empty_slots': 1,
    'extra': {'uid': '20844102',
     'number': '3913',
     'slots': 12,
     'bike_uids': ['830439',
      '830381',
      '830368',
      '830328',
      '830214',
      '830174',
      '830020',
      '830688',
      '830664',
      '830624',
      '830572']}},
   {'id': '5b0015df8ea877e3a3695d13499bc1e2',
    'name': 'Bankmore',
    'latitude': 54.59268,
    'longitude': -5.931528,
    'timestamp': '2024-10-24T00:31:22.985226Z',
    'free_bikes': 1,
    'empty_slots': 16,
    'extra': {'uid': '20753582',
     'number': '3918',
     'slots': 16,
     'bike_uids': ['830149']}},
   {'id': '6325f714622a5a718223dff878ab315b',
    'name': 'Grosvenor Road / Servia Street',
    'latitude': 54.595315,
    'longitude': -5.949091,
    'timestamp': '2024-10-24T00:31:22.985566Z',
    'free_bikes': 0,
    'empty_slots': 11,
    'extra': {'uid': '20755939',
     'number': '3940',
     'slots': 12,
     'bike_uids': ['']}},
   {'id': '63749ff4c0e10b00b94ec6671f02cbf5',
    'name': 'St Georges Market / Cromac Square',
    'latitude': 54.595255,
    'longitude': -5.92368,
    'timestamp': '2024-10-24T00:31:22.985940Z',
    'free_bikes': 1,
    'empty_slots': 9,
    'extra': {'uid': '20756545',
     'number': '3906',
     'slots': 12,
     'bike_uids': ['830181']}},
   {'id': '640571b8e3c670c4ae9cdc5e6fe61221',
    'name': 'Kennedy Centre',
    'latitude': 54.581962,
    'longitude': -5.977871,
    'timestamp': '2024-10-24T00:31:22.986332Z',
    'free_bikes': 5,
    'empty_slots': 2,
    'extra': {'uid': '141612455',
     'number': '3981',
     'slots': 8,
     'bike_uids': ['830337', '830331', '830099', '830610', '830535']}},
   {'id': '656c86839a96158c68bc0ca3edbd782e',
    'name': 'Cotton Court',
    'latitude': 54.601425,
    'longitude': -5.925847,
    'timestamp': '2024-10-24T00:31:22.985415Z',
    'free_bikes': 0,
    'empty_slots': 11,
    'extra': {'uid': '20755194',
     'number': '3926',
     'slots': 12,
     'bike_uids': ['']}},
   {'id': '66c5fa44bc97bb910261f65625cadc6d',
    'name': 'Queens University Road',
    'latitude': 54.583948,
    'longitude': -5.936989,
    'timestamp': '2024-10-24T00:31:22.985838Z',
    'free_bikes': 11,
    'empty_slots': 3,
    'extra': {'uid': '20756347',
     'number': '3933',
     'slots': 16,
     'bike_uids': ['830441',
      '830416',
      '830334',
      '830325',
      '830235',
      '830175',
      '830116',
      '830075',
      '830071',
      '830058',
      '830661']}},
   {'id': '68b7969cfee863bfe67f77f04114a706',
    'name': 'Waterfront',
    'latitude': 54.59727,
    'longitude': -5.921116,
    'timestamp': '2024-10-24T00:31:22.986007Z',
    'free_bikes': 5,
    'empty_slots': 15,
    'extra': {'uid': '20756762',
     'number': '3908',
     'slots': 24,
     'bike_uids': ['830128', '830047', '830520', '830679', '830587']}},
   {'id': '6bf6e588dec71ba0846a28656aa849f5',
    'name': 'Falls Road',
    'latitude': 54.599399,
    'longitude': -5.947595,
    'timestamp': '2024-10-24T00:31:22.985464Z',
    'free_bikes': 2,
    'empty_slots': 5,
    'extra': {'uid': '20755478',
     'number': '3941',
     'slots': 8,
     'bike_uids': ['830107', '830707']}},
   {'id': '6d83f43a07e68cf858d45d8b7c05e798',
    'name': 'Queens University / Botanic Gardens',
    'latitude': 54.583901,
    'longitude': -5.93281,
    'timestamp': '2024-10-24T00:31:22.985819Z',
    'free_bikes': 14,
    'empty_slots': 2,
    'extra': {'uid': '20756307',
     'number': '3934',
     'slots': 14,
     'bike_uids': ['83472',
      '830448',
      '830432',
      '830423',
      '830170',
      '830161',
      '830111',
      '830109',
      '830092',
      '830083',
      '830027',
      '830023',
      '830461',
      '830565']}},
   {'id': '8289d9103cdb90db6334275fc542cb34',
    'name': 'Linenhall / Donegall Square South',
    'latitude': 54.59584,
    'longitude': -5.929881,
    'timestamp': '2024-10-24T00:31:22.985591Z',
    'free_bikes': 3,
    'empty_slots': 14,
    'extra': {'uid': '20755957',
     'number': '3928',
     'slots': 16,
     'bike_uids': ['830462', '830460', '830701']}},
   {'id': '8440a5abef95b3b414405fec0cb6e492',
    'name': 'Waterworks',
    'latitude': 54.618475,
    'longitude': -5.938534,
    'timestamp': '2024-10-24T00:31:22.986349Z',
    'free_bikes': 3,
    'empty_slots': 6,
    'extra': {'uid': '151944403',
     'number': '3985',
     'slots': 10,
     'bike_uids': ['830372', '830254', '830583']}},
   {'id': '8578adf3a35519574fa74f86e46745b7',
    'name': 'Arthur Street / Chichester Street',
    'latitude': 54.597573,
    'longitude': -5.927663,
    'timestamp': '2024-10-24T00:31:22.986024Z',
    'free_bikes': 0,
    'empty_slots': 8,
    'extra': {'uid': '20757725',
     'number': '3929',
     'slots': 8,
     'bike_uids': ['']}},
   {'id': '8720f7bbbd932e035e71346ec1eeb2d6',
    'name': 'Grove Well-Being Centre ',
    'latitude': 54.621307,
    'longitude': -5.923744,
    'timestamp': '2024-10-24T00:31:22.986486Z',
    'free_bikes': 5,
    'empty_slots': 9,
    'extra': {'uid': '391476567',
     'number': '3990',
     'slots': 20,
     'bike_uids': ['830399', '830310', '830036', '830576', '830559']}},
   {'id': '91ed9ad1a3a491439998bb1a10ab3f39',
    'name': 'Falls Road / Coláiste Feirste',
    'latitude': 54.590889,
    'longitude': -5.967314,
    'timestamp': '2024-10-24T00:31:22.986421Z',
    'free_bikes': 3,
    'empty_slots': 7,
    'extra': {'uid': '282005664',
     'number': '3982',
     'slots': 10,
     'bike_uids': ['830253', '830090', '830673']}},
   {'id': '9300a6ef8eb89cddfced7aaec8ba83ae',
    'name': 'Royal Avenue / Castlecourt',
    'latitude': 54.601319,
    'longitude': -5.931308,
    'timestamp': '2024-10-24T00:31:22.985855Z',
    'free_bikes': 0,
    'empty_slots': 12,
    'extra': {'uid': '20756366',
     'number': '3925',
     'slots': 12,
     'bike_uids': ['']}},
   {'id': '971562c0f1b1fb28f74701cf85fd556b',
    'name': 'Antrim Road / Duncairn Centre',
    'latitude': 54.612417,
    'longitude': -5.936748,
    'timestamp': '2024-10-24T00:31:22.985206Z',
    'free_bikes': 2,
    'empty_slots': 4,
    'extra': {'uid': '20753518',
     'number': '3943',
     'slots': 8,
     'bike_uids': ['830691', '830649']}},
   {'id': '9799d6da60ffe54487335f37ba48c344',
    'name': 'AllState',
    'latitude': 54.594321,
    'longitude': -5.915236,
    'timestamp': '2024-10-24T00:31:22.985176Z',
    'free_bikes': 4,
    'empty_slots': 9,
    'extra': {'uid': '20752458',
     'number': '3948',
     'slots': 12,
     'bike_uids': ['830370', '830132', '830022', '830647']}},
   {'id': 'a4b62644b2e7daa727ef8d0e61cea19d',
    'name': 'Mater Hospital / Crumlin Road',
    'latitude': 54.608528,
    'longitude': -5.941029,
    'timestamp': '2024-10-24T00:31:22.985629Z',
    'free_bikes': 0,
    'empty_slots': 10,
    'extra': {'uid': '20756015',
     'number': '3937',
     'slots': 10,
     'bike_uids': ['']}},
   {'id': 'a5c0f5dba8469416690a18cce91ee0b3',
    'name': 'Skainos',
    'latitude': 54.598753,
    'longitude': -5.899396,
    'timestamp': '2024-10-24T00:31:22.985906Z',
    'free_bikes': 7,
    'empty_slots': 2,
    'extra': {'uid': '20756473',
     'number': '3945',
     'slots': 8,
     'bike_uids': ['830313',
      '830283',
      '830215',
      '830078',
      '830502',
      '830608',
      '830558']}},
   {'id': 'a81148aaa98ce5d0ea14ceecdce18efc',
    'name': 'Gasworks (Lagan Towpath)',
    'latitude': 54.591219,
    'longitude': -5.92265,
    'timestamp': '2024-10-24T00:31:22.985514Z',
    'free_bikes': 4,
    'empty_slots': 3,
    'extra': {'uid': '20755678',
     'number': '3927',
     'slots': 16,
     'bike_uids': ['830422', '830159', '830008', '830635']}},
   {'id': 'aa67d0efce9be97dd83c03706b61b2e5',
    'name': 'Ormeau Park',
    'latitude': 54.580556,
    'longitude': -5.920504,
    'timestamp': '2024-10-24T00:31:22.985780Z',
    'free_bikes': 15,
    'empty_slots': 1,
    'extra': {'uid': '20756194',
     'number': '3916',
     'slots': 12,
     'bike_uids': ['830438',
      '830428',
      '830401',
      '830392',
      '830355',
      '830309',
      '830266',
      '830190',
      '830160',
      '830129',
      '830678',
      '830667',
      '830663',
      '830648',
      '830599']}},
   {'id': 'afbcf7d9c0a43c0ab8429d836da6d602',
    'name': 'Connswater',
    'latitude': 54.596086,
    'longitude': -5.892781,
    'timestamp': '2024-10-24T00:31:22.985397Z',
    'free_bikes': 8,
    'empty_slots': 2,
    'extra': {'uid': '20754974',
     'number': '3946',
     'slots': 10,
     'bike_uids': ['830426',
      '830414',
      '830312',
      '830298',
      '830196',
      '830518',
      '830705',
      '830652']}},
   {'id': 'b0588c9bac29c39c2d327ce8341e8134',
    'name': 'Victoria Square',
    'latitude': 54.598203,
    'longitude': -5.924033,
    'timestamp': '2024-10-24T00:31:22.985994Z',
    'free_bikes': 0,
    'empty_slots': 10,
    'extra': {'uid': '20756719',
     'number': '3903',
     'slots': 10,
     'bike_uids': ['']}},
   {'id': 'b1f04ac54af242f0254fb0d213e8ebb3',
    'name': 'Lisnasharragh Leisure Centre',
    'latitude': 54.577839,
    'longitude': -5.881805,
    'timestamp': '2024-10-24T00:31:22.986101Z',
    'free_bikes': 12,
    'empty_slots': 1,
    'extra': {'uid': '95021271',
     'number': '3900',
     'slots': 12,
     'bike_uids': ['830400',
      '830163',
      '830152',
      '830114',
      '830069',
      '830037',
      '830015',
      '830650',
      '830646',
      '830618',
      '830614',
      '830589']}},
   {'id': 'b2167d1f8a1421b62d74ea0e167e2e86',
    'name': 'Shankill Leisure Centre / Shankill Road',
    'latitude': 54.603687,
    'longitude': -5.944403,
    'timestamp': '2024-10-24T00:31:22.985889Z',
    'free_bikes': 15,
    'empty_slots': 4,
    'extra': {'uid': '20756448',
     'number': '3938',
     'slots': 18,
     'bike_uids': ['830300',
      '830217',
      '830150',
      '830104',
      '830028',
      '830527',
      '830696',
      '830687',
      '830669',
      '830659',
      '830654',
      '830651',
      '830642',
      '830617',
      '830600']}},
   {'id': 'b28b6c844a93f5def0edd15f8d7bf017',
    'name': 'Olympia',
    'latitude': 54.583056,
    'longitude': -5.956993,
    'timestamp': '2024-10-24T00:31:22.986317Z',
    'free_bikes': 2,
    'empty_slots': 14,
    'extra': {'uid': '121249423',
     'number': '3994',
     'slots': 16,
     'bike_uids': ['830317', '830125']}},
   {'id': 'b3279fbaa775e09bb8b66012f80abf5a',
    'name': 'CS Lewis',
    'latitude': 54.598305,
    'longitude': -5.890582,
    'timestamp': '2024-10-24T00:31:22.985280Z',
    'free_bikes': 18,
    'empty_slots': 1,
    'extra': {'uid': '20754188',
     'number': '3944',
     'slots': 16,
     'bike_uids': ['830449',
      '830394',
      '830377',
      '830318',
      '830219',
      '830029',
      '830469',
      '830662',
      '830641',
      '830615',
      '830603',
      '830584',
      '830580',
      '830575',
      '830555',
      '830550',
      '830540',
      '830536']}},
   {'id': 'ba23ad885ab065b254b8a940980d52ca',
    'name': 'Fraser Pass',
    'latitude': 54.600337,
    'longitude': -5.905516,
    'timestamp': '2024-10-24T00:31:22.985481Z',
    'free_bikes': 3,
    'empty_slots': 11,
    'extra': {'uid': '20755535',
     'number': '3947',
     'slots': 14,
     'bike_uids': ['830275', '830609', '830602']}},
   {'id': 'cbe0f01a35300746c22f93f6dc438e1d',
    'name': 'Sandown Road',
    'latitude': 54.594131,
    'longitude': -5.868545,
    'timestamp': '2024-10-24T00:31:22.986470Z',
    'free_bikes': 4,
    'empty_slots': 5,
    'extra': {'uid': '389634668',
     'number': '3996',
     'slots': 8,
     'bike_uids': ['830164', '830077', '830677', '830567']}},
   {'id': 'd01e844ae2cc125f5315c344491e19e5',
    'name': 'Alfred Street',
    'latitude': 54.594634,
    'longitude': -5.927441,
    'timestamp': '2024-10-24T00:31:22.985142Z',
    'free_bikes': 3,
    'empty_slots': 10,
    'extra': {'uid': '20751801',
     'number': '3923',
     'slots': 14,
     'bike_uids': ['830035', '830009', '830665']}},
   {'id': 'd412a3eb183b7113ff5ec28eb6b562e8',
    'name': 'Donegall Quay',
    'latitude': 54.601437,
    'longitude': -5.921996,

In [6]:
pd.DataFrame(response)

                                                     0
0    b'{"network":{"id":"belfastbikes-belfast","nam...
1    b't","country":"GB"},"href":"/v2/networks/belf...
2    b'"00a175b9694ce13c3b9bc9e1244e1612","name":"C...
3    b'0:31:22.985299Z","free_bikes":1,"empty_slots...
4    b'"id":"036a91020ad7f40ea0d2bfda0fb14400","nam...
..                                                 ...
139  b'.955373,"timestamp":"2024-10-24T00:31:22.986...
140  b'ts":6,"bike_uids":["830396","830257","830179...
141  b'"latitude":54.576116,"longitude":-5.942574,"...
142  b'id":"244525787","number":"3983","slots":20,"...
143                                  b'"830577"]}}]}}'

[144 rows x 1 columns]

Get all of the basic area information on the network level into a dataframe:

In [7]:
location = pd.json_normalize(response.json())
location

,network.id,network.name,network.location.latitude,network.location.longitude,network.location.city,network.location.country,network.href,network.company,network.system,network.stations
0,belfastbikes-belfast,BelfastBikes,54.5969,-5.92918,Belfast,GB,/v2/networks/belfastbikes-belfast,[Nextbike GmbH],Nextbike,"[{'id': '00a175b9694ce13c3b9bc9e1244e1612', 'n..."

'network.company' is technically a list but it only has one value, so to get it out of that list status and standing on it's own, I'm just going to unravel it with .explode()

In [8]:
location['network.company'] = location['network.company'].explode()
location

,network.id,network.name,network.location.latitude,network.location.longitude,network.location.city,network.location.country,network.href,network.company,network.system,network.stations
0,belfastbikes-belfast,BelfastBikes,54.5969,-5.92918,Belfast,GB,/v2/networks/belfastbikes-belfast,Nextbike GmbH,Nextbike,"[{'id': '00a175b9694ce13c3b9bc9e1244e1612', 'n..."

Now I'm going to split off the staations into their own frame to un-nest, and make a frame that's just the overall info. Gonna do the first layer of normalize at the same time.

In [9]:
belfast = location.drop(columns={'network.stations'})
belfast

,network.id,network.name,network.location.latitude,network.location.longitude,network.location.city,network.location.country,network.href,network.company,network.system
0,belfastbikes-belfast,BelfastBikes,54.5969,-5.92918,Belfast,GB,/v2/networks/belfastbikes-belfast,Nextbike GmbH,Nextbike

Actually these columns need better names in a few places.

In [10]:
belfast = belfast.rename(columns={
    'network.location.latitude' : 'latitude',
    'network.location.longitude' : 'longitude',
    'network.location.city' : 'city',
    'network.location.country' : 'country'})
belfast

,network.id,network.name,latitude,longitude,city,country,network.href,network.company,network.system
0,belfastbikes-belfast,BelfastBikes,54.5969,-5.92918,Belfast,GB,/v2/networks/belfastbikes-belfast,Nextbike GmbH,Nextbike

In [11]:
station_set = pd.json_normalize(location['network.stations'])
station_set

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,"{'id': '00a175b9694ce13c3b9bc9e1244e1612', 'na...","{'id': '036a91020ad7f40ea0d2bfda0fb14400', 'na...","{'id': '04764ca50c52190e0e6448114ad094d8', 'na...","{'id': '0a705a961d040d272e9e72b27fd1239d', 'na...","{'id': '0bcde9e962503960bbf3c1940e63be23', 'na...","{'id': '1d32f54e87d456e46654efe7f4d3bb79', 'na...","{'id': '21736d82110ac1d36d2d08877b89d666', 'na...","{'id': '2dde63ecc4e7629be51b8869769355f8', 'na...","{'id': '37bdf55233e68976b8d6e48b05b4870f', 'na...","{'id': '38c115f757ddfb8932019674ceaae244', 'na...",...,"{'id': 'd412a3eb183b7113ff5ec28eb6b562e8', 'na...","{'id': 'd873badf682d23aaa171313c0c6973af', 'na...","{'id': 'dcd2485cbb0056140bab0700d1735d77', 'na...","{'id': 'dce1e20d7e09fcaff649fe373933af8a', 'na...","{'id': 'de687ed226fad2886d641ea708e7282e', 'na...","{'id': 'e50e9ac63d4b7e1ff5e3c6735fd4f6a1', 'na...","{'id': 'e6334864bee916cd07ed9eafb0ab5ec7', 'na...","{'id': 'e7bc242e7b81a9091ab625e9403680fa', 'na...","{'id': 'eb405bd827607e718ed7873e2a88f2f9', 'na...","{'id': 'fc6fb7a4026e37418578fdf54fdcb826', 'na..."

(This is where I realized I had a problem with my original city.)

Ok so it looks like I only need to do one layer of normalizing for each column; I might eventually apply a count funtion to the extra.bike_uids column to get the number of bikes in use, but the actual user IDs isn't the important thing. It can stay as a list. That way each station is a single row.

In [12]:
pd.json_normalize(station_set[25])

,id,name,latitude,longitude,timestamp,free_bikes,empty_slots,extra.uid,extra.number,extra.slots,extra.bike_uids
0,6bf6e588dec71ba0846a28656aa849f5,Falls Road,54.599399,-5.947595,2024-10-24T00:31:22.985464Z,2,5,20755478,3941,8,"[830107, 830707]"

I cannot get normalize using record_path and meta to cooperate, so I have used a while-loop to generate the numbers that are the column names, and then concatenated each resulting single row dataframe onto a placeholder frame.

In [13]:
def get_stations(data):
    count = 0
    target = len(data.axes[1])
    output = pd.DataFrame(np.array([[0,0,0,0,0,0,0,0,0,0,0,]]),
        columns=['id','name','latitude','longitude',
        'timestamp','free_bikes','empty_slots','extra.uid',
        'extra.number','extra.slots','extra.bike_uids'])
    while count < target:
        convert = pd.json_normalize(data[count])
        count += 1
        output = pd.concat([output, convert])
    return output

In [14]:
stations = get_stations(station_set)
stations.head()

,id,name,latitude,longitude,timestamp,free_bikes,empty_slots,extra.uid,extra.number,extra.slots,extra.bike_uids
0,0,0,0.000000,0.000000,0,0,0,0,0,0,0
0,00a175b9694ce13c3b9bc9e1244e1612,Carlisle Circus,54.607397,-5.937086,2024-10-24T00:31:22.985299Z,1,20,20754306,3939,20,[830048]
0,036a91020ad7f40ea0d2bfda0fb14400,City Hall,54.597177,-5.930825,2024-10-24T00:31:22.985383Z,0,20,20754767,3902,20,[]
0,04764ca50c52190e0e6448114ad094d8,Bradbury Place,54.588123,-5.935525,2024-10-24T00:31:22.985262Z,2,14,20754036,3924,16,"[830382, 830488]"
0,0a705a961d040d272e9e72b27fd1239d,Botanic Avenue,54.589329,-5.933508,2024-10-24T00:31:22.985244Z,5,8,20753840,3909,16,"[830182, 830146, 830002, 830698, 830639]"

Because I had to have _something_ in the dataframe, there's a junk row at the top to get rid of, and I want the indexes to be the same numbers as the column names they came from; which is what each station was numbered inside the database. Because each item was added in order, I can use the reset_index function for that once the junk row is gone. <br>
-> In order to get a unique index to drop the junk row by, reset_index has to happen twice.

In [15]:
stations = stations.reset_index().drop([0]).reset_index()

In [16]:
stations = stations.drop(['level_0','index'],axis=1)

In [17]:
stations.head(2)

,id,name,latitude,longitude,timestamp,free_bikes,empty_slots,extra.uid,extra.number,extra.slots,extra.bike_uids
0,00a175b9694ce13c3b9bc9e1244e1612,Carlisle Circus,54.607397,-5.937086,2024-10-24T00:31:22.985299Z,1,20,20754306,3939,20,[830048]
1,036a91020ad7f40ea0d2bfda0fb14400,City Hall,54.597177,-5.930825,2024-10-24T00:31:22.985383Z,0,20,20754767,3902,20,[]

Remove 'extra.' prefix; it's very confusing. 'extra' is the name of the folder, not anything to do with the value. Also gonna call 'id' "station id" for my own sanity. Check and handle NaNs.

In [18]:
stations = stations.rename(columns={
    'id' : 'station_id','extra.uid' : 'uid','extra.number' : 'number',
    'extra.slots' : 'slots','extra.bike_uids' : 'bike_uids'})

In [19]:
stations[['empty_slots', 'slots']].isnull().value_counts()

empty_slots  slots
False        False    58
Name: count, dtype: int64

In [20]:
stations.loc[49]

station_id     d873badf682d23aaa171313c0c6973af
name                          Cathedral Gardens
latitude                               54.60368
longitude                             -5.929345
timestamp           2024-10-24T00:31:22.985347Z
free_bikes                                    1
empty_slots                                  16
uid                                    20754597
number                                     3914
slots                                        20
bike_uids                              [830108]
Name: 49, dtype: object

Turns out both of those null values are in the same row, 49, and given that there are no free/available bikes but also no empty slots, I think this station is out of service, so I'm going to drop it entirely.

In [21]:
stations = stations.drop(49)

In [22]:
stations.head(2)

,station_id,name,latitude,longitude,timestamp,free_bikes,empty_slots,uid,number,slots,bike_uids
0,00a175b9694ce13c3b9bc9e1244e1612,Carlisle Circus,54.607397,-5.937086,2024-10-24T00:31:22.985299Z,1,20,20754306,3939,20,[830048]
1,036a91020ad7f40ea0d2bfda0fb14400,City Hall,54.597177,-5.930825,2024-10-24T00:31:22.985383Z,0,20,20754767,3902,20,[]

**Put your parsed results into a DataFrame.**

In [26]:
belfast #network meta; not needed for further analysis

,network.id,network.name,latitude,longitude,city,country,network.href,network.company,network.system
0,belfastbikes-belfast,BelfastBikes,54.5969,-5.92918,Belfast,GB,/v2/networks/belfastbikes-belfast,Nextbike GmbH,Nextbike

In [24]:
stations

,station_id,name,latitude,longitude,timestamp,free_bikes,empty_slots,uid,number,slots,bike_uids
0,00a175b9694ce13c3b9bc9e1244e1612,Carlisle Circus,54.607397,-5.937086,2024-10-24T00:31:22.985299Z,1,20,20754306,3939,20,[830048]
1,036a91020ad7f40ea0d2bfda0fb14400,City Hall,54.597177,-5.930825,2024-10-24T00:31:22.985383Z,0,20,20754767,3902,20,[]
2,04764ca50c52190e0e6448114ad094d8,Bradbury Place,54.588123,-5.935525,2024-10-24T00:31:22.985262Z,2,14,20754036,3924,16,"[830382, 830488]"
3,0a705a961d040d272e9e72b27fd1239d,Botanic Avenue,54.589329,-5.933508,2024-10-24T00:31:22.985244Z,5,8,20753840,3909,16,"[830182, 830146, 830002, 830698, 830639]"
4,0bcde9e962503960bbf3c1940e63be23,Europa Bus Station / Blackstaff Square,54.594821,-5.933116,2024-10-24T00:31:22.985446Z,5,6,20755396,3910,12,"[830389, 830073, 830690, 830634, 830625]"
5,1d32f54e87d456e46654efe7f4d3bb79,Gasworks (Cromac Street),54.592172,-5.925547,2024-10-24T00:31:22.985497Z,8,6,20755616,3907,12,"[83475, 830316, 830277, 830267, 830685, 830655..."
6,21736d82110ac1d36d2d08877b89d666,Titanic Train Halt/ Sydenham Road,54.603420,-5.906825,2024-10-24T00:31:22.986085Z,11,10,80624568,3949,20,"[830424, 830411, 830379, 830280, 830276, 83024..."
7,2dde63ecc4e7629be51b8869769355f8,Castlereagh Road,54.586112,-5.891912,2024-10-24T00:31:22.986399Z,13,1,254962866,3901,12,"[830440, 830407, 830403, 830395, 830191, 83014..."
8,37bdf55233e68976b8d6e48b05b4870f,Ormeau Road / Rosetta Roundabout,54.572534,-5.915076,2024-10-24T00:31:22.985800Z,14,2,20756242,3930,16,"[83471, 830386, 830171, 830131, 830007, 830004..."
9,38c115f757ddfb8932019674ceaae244,Millfield / Divis Street,54.599697,-5.936308,2024-10-24T00:31:22.985723Z,6,9,20756044,3920,18,"[830320, 830080, 830074, 830052, 830699, 830570]"
10,3d074080544e9de7221eefa71e2a9c19,Carrick Hill / St Patricks Church,54.604986,-5.932853,2024-10-24T00:31:22.985316Z,0,8,20754490,3915,12,[]
11,3d0848a1bd18d516fb554c2e18cf7da6,Glencairn,54.609674,-5.972700,2024-10-24T00:31:22.986455Z,1,14,378088757,3987,16,[830660]
12,4674212bef61b983ff79f80f324aec6b,Royal Victoria Hospital,54.589851,-5.958463,2024-10-24T00:31:22.985870Z,7,13,20756409,3936,20,"[830342, 830258, 830206, 830692, 830668, 83058..."
13,4a98fdf8656e54050b5e683400e8e7ec,Belfast City Hospital,54.586848,-5.939333,2024-10-24T00:31:22.986069Z,2,15,26211679,3935,18,"[830315, 830573]"
14,4b098d3bd92dd05711e2db6268205227,Titanic Walkway,54.611906,-5.902814,2024-10-24T00:31:22.985976Z,22,0,20756646,3917,20,"[830443, 830427, 830421, 830367, 830308, 83027..."
15,4f1193645719ac9f73ec068cb9c520ca,Castle Place / Royal avenue,54.599358,-5.929838,2024-10-24T00:31:22.985332Z,0,15,20754573,3912,22,[]
16,514648b87e234d34917abc7b0cb9755b,Titanic Belfast Met,54.605713,-5.911299,2024-10-24T00:31:22.985957Z,20,0,20756620,3932,18,"[830444, 830435, 830413, 830383, 830369, 83035..."
17,59a10c87436a4f66ea29cce49c054f1c,Ormeau Road / Somerset Street,54.578142,-5.918787,2024-10-24T00:31:22.986037Z,11,1,20844102,3913,12,"[830439, 830381, 830368, 830328, 830214, 83017..."
18,5b0015df8ea877e3a3695d13499bc1e2,Bankmore,54.592680,-5.931528,2024-10-24T00:31:22.985226Z,1,16,20753582,3918,16,[830149]
19,6325f714622a5a718223dff878ab315b,Grosvenor Road / Servia Street,54.595315,-5.949091,2024-10-24T00:31:22.985566Z,0,11,20755939,3940,12,[]
20,63749ff4c0e10b00b94ec6671f02cbf5,St Georges Market / Cromac Square,54.595255,-5.923680,2024-10-24T00:31:22.985940Z,1,9,20756545,3906,12,[830181]
21,640571b8e3c670c4ae9cdc5e6fe61221,Kennedy Centre,54.581962,-5.977871,2024-10-24T00:31:22.986332Z,5,2,141612455,3981,8,"[830337, 830331, 830099, 830610, 830535]"
22,656c86839a96158c68bc0ca3edbd782e,Cotton Court,54.601425,-5.925847,2024-10-24T00:31:22.985415Z,0,11,20755194,3926,12,[]
23,66c5fa44bc97bb910261f65625cadc6d,Queens University Road,54.583948,-5.936989,2024-10-24T00:31:22.985838Z,11,3,20756347,3933,16,"[830441, 830416, 830334, 830325, 830235, 83017..."
24,68b7969cfee863bfe67f77f04114a706,Waterfront,54.597270,-5.921116,2024-10-24T00:31:22.986007Z,5,15,20756762,3908,24,"[830128, 830047, 830520, 830679, 830587]"
25,6bf6e588dec71ba0846a28656aa849f5,Falls Road,54.599399,-5.947595,2024-10-24T00:31:22.985464Z,2,5,20755478,3941,8,"[830107, 830707]"
26,6d83f43a07e68cf858d45d8b7c05e798,Queens University / Botanic Gardens,54.583901,-5.932810,2024-10-24T00:31:22.985819Z,14,2,20756307,3934,14,"[83472, 830448, 830432, 830423, 830170, 830161..."
27,8289d9103cdb90db6334275fc542cb34,Linenhall / Donegall Square South,54.595840,-5.929881,2024-10-24T00:31:22.985591Z,3,14,20755957,3928,16,"[830462, 830460, 830701]"
28,8440a5abef95b3b414405fec0cb6e492,Waterworks,54.618475,-5.938534,2024-10-24T00:31:22.986349Z,3,6,151944403,3985,10,"[830372, 830254, 830583]"
29,8578adf3a35519574fa74f86e46745b7,Arthur Street / Chichester Street,54.597573,-5.927663,2024-10-24T00:31:22.986024Z,0,8,20757725,3929,8,[]
30,8720f7bbbd932e035e71346ec1eeb2d6,Grove Well-Being Centre,54.621307,-5.923744,2024-10-24T00:31:22.986486Z,5,9,391476567,3990,20,"[830399, 830310, 830036, 830576, 830559]"
31,91ed9ad1a3a491439998bb1a10ab3f39,Falls Road / Coláiste Feirste,54.590889,-5.967314,2024-10-24T00:31:22.986421Z,3,7,282005664,3982,10,"[830253, 830090, 830673]"
32,9300a6ef8eb89cddfced7aaec8ba83ae,Royal Avenue / Castlecourt,54.601319,-5.931308,2024-10-24T00:31:22.985855Z,0,12,20756366,3925,12,[]
33,971562c0f1b1fb28f74701cf85fd556b,Antrim Road / Duncairn Centre,54.612417,-5.936748,2024-10-24T00:31:22.985206Z,2,4,20753518,3943,8,"[830691, 830649]"
34,9799d6da60ffe54487335f37ba48c344,AllState,54.594321,-5.915236,2024-10-24T00:31:22.985176Z,4,9,20752458,3948,12,"[830370, 830132, 830022, 830647]"
35,a4b62644b2e7daa727ef8d0e61cea19d,Mater Hospital / Crumlin Road,54.608528,-5.941029,2024-10-24T00:31:22.985629Z,0,10,20756015,3937,10,[]
36,a5c0f5dba8469416690a18cce91ee0b3,Skainos,54.598753,-5.899396,2024-10-24T00:31:22.985906Z,7,2,20756473,3945,8,"[830313, 830283, 830215, 830078, 830502, 83060..."
37,a81148aaa98ce5d0ea14ceecdce18efc,Gasworks (Lagan Towpath),54.591219,-5.922650,2024-10-24T00:31:22.985514Z,4,3,20755678,3927,16,"[830422, 830159, 830008, 830635]"
38,aa67d0efce9be97dd83c03706b61b2e5,Ormeau Park,54.580556,-5.920504,2024-10-24T00:31:22.985780Z,15,1,20756194,3916,12,"[830438, 830428, 830401, 830392, 830355, 83030..."
39,afbcf7d9c0a43c0ab8429d836da6d602,Connswater,54.596086,-5.892781,2024-10-24T00:31:22.985397Z,8,2,20754974,3946,10,"[830426, 830414, 830312, 830298, 830196, 83051..."
40,b0588c9bac29c39c2d327ce8341e8134,Victoria Square,54.598203,-5.924033,2024-10-24T00:31:22.985994Z,0,10,20756719,3903,10,[]
41,b1f04ac54af242f0254fb0d213e8ebb3,Lisnasharragh Leisure Centre,54.577839,-5.881805,2024-10-24T00:31:22.986101Z,12,1,95021271,3900,12,"[830400, 830163, 830152, 830114, 830069, 83003..."
42,b2167d1f8a1421b62d74ea0e167e2e86,Shankill Leisure Centre / Shankill Road,54.603687,-5.944403,2024-10-24T00:31:22.985889Z,15,4,20756448,3938,18,"[830300, 830217, 830150, 830104, 830028, 83052..."
43,b28b6c844a93f5def0edd15f8d7bf017,Olympia,54.583056,-5.956993,2024-10-24T00:31:22.986317Z,2,14,121249423,3994,16,"[830317, 830125]"
44,b3279fbaa775e09bb8b66012f80abf5a,CS Lewis,54.598305,-5.890582,2024-10-24T00:31:22.985280Z,18,1,20754188,3944,16,"[830449, 830394, 830377, 830318, 830219, 83002..."
45,ba23ad885ab065b254b8a940980d52ca,Fraser Pass,54.600337,-5.905516,2024-10-24T00:31:22.985481Z,3,11,20755535,3947,14,"[830275, 830609, 830602]"
46,cbe0f01a35300746c22f93f6dc438e1d,Sandown Road,54.594131,-5.868545,2024-10-24T00:31:22.986470Z,4,5,389634668,3996,8,"[830164, 830077, 830677, 830567]"
47,d01e844ae2cc125f5315c344491e19e5,Alfred Street,54.594634,-5.927441,2024-10-24T00:31:22.985142Z,3,10,20751801,3923,14,"[830035, 830009, 830665]"
48,d412a3eb183b7113ff5ec28eb6b562e8,Donegall Quay,54.601437,-5.921996,2024-10-24T00:31:22.985429Z,1,13,20755301,3904,16,[830656]
50,dcd2485cbb0056140bab0700d1735d77,Stranmillis,54.574854,-5.932134,2024-10-24T00:31:22.985924Z,16,2,20756503,3931,14,"[830356, 830329, 830270, 830220, 830204, 83019..."
51,dce1e20d7e09fcaff649fe373933af8a,Odyssey / Sydenham Road,54.603923,-5.917243,2024-10-24T00:31:22.985756Z,16,5,20756085,3921,22,"[830305, 830287, 830282, 830263, 830232, 83018..."
52,de687ed226fad2886d641ea708e7282e,Great Victoria Street / Hope Street,54.593469,-5.934409,2024-10-24T00:31:22.985545Z,5,11,20755892,3911,18,"[830347, 830336, 830041, 830613, 830601]"
53,e50e9ac63d4b7e1ff5e3c6735fd4f6a1,Girdwood Community Hub / Cliftonville Park Avenue,54.611849,-5.942139,2024-10-24T00:31:22.985531Z,0,14,20755849,3942,14,[]
54,e6334864bee916cd07ed9eafb0ab5ec7,Lanyon Station Mays Meadow,54.595321,-5.916460,2024-10-24T00:31:22.985365Z,8,11,20754700,3905,20,"[830446, 830409, 830218, 830158, 830153, 83059..."
55,e7bc242e7b81a9091ab625e9403680fa,College Square East,54.597142,-5.934827,2024-10-24T00:31:22.986053Z,9,5,26051356,3919,16,"[830436, 830245, 830200, 830193, 830097, 83006..."
56,eb405bd827607e718ed7873e2a88f2f9,Drumglass,54.575364,-5.955373,2024-10-24T00:31:22.986438Z,5,2,314224868,3984,6,"[830396, 830257, 830179, 830708, 830562]"
57,fc6fb7a4026e37418578fdf54fdcb826,Elms Drive,54.576116,-5.942574,2024-10-24T00:31:22.986372Z,9,12,244525787,3983,20,"[830406, 830384, 830292, 830166, 830106, 83050..."

I think I might want to use bike usage in some way, so I am saving the data from the '8:10 pm on a Saturday' call, just in case.

In [25]:
# stations.to_csv('bike_stations.csv')